{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.ng.bluemix.net",
      "Org": "oleksiishev@gmail.com",
      "Space": "dev"
    },
    "Name": "BrainGain-dev",
    "Instrumentation": {
      "host": "braingain-dev"
    }
  },
  "Path": "manifest.yml",
  "Type": "Cloud Foundry"
}